<header>
    <div class="gov-topbar">
        <div class="container">
            <span>Republic of the Philippines</span>
        </div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="logo-area">
                <div class="logo-text">
                    <h1>{{ .Site.Params.agency_short_name }} <strong>{{ .Site.Params.portal_name }}</strong></h1>
                    <p>{{ .Site.Params.agency_name }}</p>
                </div>
            </div>
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</header>
